<div class="container">

  <div class="row">
    <div class="col-lg-6">
      <form #address="ngForm" (ngSubmit)="onSubmit(address)" encType="multipart/form-data">

        <div class="form-group">
          <label for="name">Address line 1 </label>
          <input ngModel #lineFirst="ngModel" type="text" name="lineFirst" id="lineFirst" required class="form-control"
                 placeholder="Address lineFirst"/>
          <div *ngIf="!lineFirst.valid && lineFirst.touched" class="alert alert-danger">Address line first required</div>
        </div>
        <div class="form-group">
          <label for="Second">Address line second </label>
          <input ngModel #lineSecond="ngModel" type="text" name="lineSecond" id="lineSecond" required class="form-control"
                 placeholder="Address lineSecond"/>
          <div *ngIf="!lineSecond.valid && lineSecond.touched" class="alert alert-danger">Address line first required
          </div>
        </div>
        <div class="form-group">
          <label for="city">City </label>
          <input ngModel #city="ngModel" type="text" name="city" id="city" required class="form-control"
                 placeholder="Address city"/>
          <div *ngIf="!city.valid && city.touched" class="alert alert-danger">City required</div>
        </div>
        <div class="form-group">
          <label for="place">Address line second </label>
          <input ngModel #place="ngModel" type="text" name="place" id="place" required class="form-control"
                 placeholder="Address place"/>
          <div *ngIf="!place.valid && place.touched" class="alert alert-danger">Address line first required</div>
        </div>

        <div class="form-group">
          <label for="phoneNumber">Phone Number </label>
          <input ngModel #phoneNumber="ngModel" type="text" name="phoneNumber" id="phoneNumber" required
                 class="form-control" phoneNumberholder="Address phoneNumber"/>
          <div *ngIf="!phoneNumber.valid && phoneNumber.touched" class="alert alert-danger">Phone Number required</div>
        </div>

        <button [disabled]="address.invalid" class="btn btn-primary">Create address</button>
      </form>

    </div>
  </div>



  </div>
