.dash1{
    margin-top: 20px;

}
.card-recatngle{
    border-radius: 10px;
}

.a-card {
  padding: 16px 32px;
  background-color: white;

}

.a-image{
  width:"50px";
  height:"50px";
}

.a-card:hover .a-image{
  transform: rotate(60deg);
  transition: all 0.8s ease-in-out;
  
}

.a-title{
  color: #837f6f;
}


.line-chart {
  padding: 16px 32px;
  background-color: white;
}
