


<div class="row">
  <div class="col-lg-6">
    <canvas  class="chart"
             #myChart>{{chart}}</canvas>
  </div>
  <div class="col-lg-6">
    <canvas  class="chart" #pieChart>{{piechart}}</canvas>
  </div>
</div>


<div class="row">
  <div class="col">
    <canvas #radarChart>{{radarC}}</canvas>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <canvas  class="chart"
             #sChart>{{schart}}</canvas>
  </div>  <div class="col-lg-6">
    <canvas  class="chart"
             #hBarChart>{{hchart}}</canvas>
  </div>
</div>
