<div class="container">


  <mat-grid-list cols="2" class="my-3" >
    <mat-grid-tile colspan="1" >
      <div class="register-left">
        <h4 class=" mt-3 title" >welcome to Ecom</h4>
        <p class="mt-5 mat-body mat-body-1" >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda illum expedita repellendus blanditiis rem.
          Voluptate dolor ab, repudiandae ducimus sequi ex possimus ut iste minima.
        </p>
        <h6 class="title">Sign in with</h6>
        <hr>
        <div class="d-flex align-center">
          <button mat-mini-fab class="mx-2" color="primary" ><i class="fab fa-facebook"></i></button>
          <button mat-mini-fab class="mx-2" style="background-color: white;color: #c91a1a;"  ><i class="fab fa-google"></i></button>
          <button mat-mini-fab class="mx-2" color="primary" ><i class="fab fa-twitter"></i></button>
        </div>
      </div>
    </mat-grid-tile>
      <mat-grid-tile colspan="1"  class="mat-elevation-z8" >
        <div class="p-2">
          <h2 class="mat-title" >LOGIN HERE</h2>

          <div class="example-container">
            <form  #login="ngForm" (ngSubmit)="onSubmit(login)" >
              <p>
                <mat-form-field appearance="standard">
                  <mat-label>Email</mat-label>
                  <input ngModel name="email" #email="ngModel"
                         required matInput>
                  <mat-icon class="form-icon" matSuffix>email</mat-icon>
                  <mat-hint>"Enter valid Email"</mat-hint>
                  <mat-error *ngIf="email.invalid && email.touched || email.dirty" >
                    Email is required Field
                  </mat-error>
                </mat-form-field>
              </p>



              <p>
                <mat-form-field appearance="standard">
                  <mat-label>Password</mat-label>
                  <input type="password" name="password" ngModel #password="ngModel"   required matInput placeholder="Enter Password Here">
                  <mat-icon class="form-icon" matSuffix>lock</mat-icon>
                  <mat-hint>"Password must contain minimum 6  alphanumeric characters,
                    at least one upper character, one lower character and a number.
                    "</mat-hint>
                  <mat-error *ngIf="password.invalid && password.touched || password.dirty" >
                    Password is required field
                  </mat-error>
                </mat-form-field>
              </p>

              <p>
                <button [disabled]="login.invalid" class="mt-5"
                        mat-raised-button color="accent" >Login</button>

              </p>

              
            </form>
          <p class="float-right">
                <button routerLink="/register" mat-stroked-button color="primary" >register here</button>
              </p>

          </div>



        </div>
      </mat-grid-tile>

  </mat-grid-list>




</div>
