<h6 mat-diaolog-title >Edit role of {{data.username}}</h6>
<div mat-dialog-content >
    <mat-list>
        <mat-list-item *ngFor="let role of data.roles" >
            <mat-checkbox (click)="checkAndPush($event)" [checked]="data.userRole.includes(role)"  >{{role}}</mat-checkbox>
        </mat-list-item>
    </mat-list>
</div>

<mat-dialog-actions>
    <button color="warn" mat-raised-button (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary ml-2">Save</button>
</mat-dialog-actions>