.register-left {
  text-align: center;
  padding: 15% 20%;
  background-color: #2196F3;
  height: 100%;
  color: white;
}

.register-right {
  text-align: center;
  height: 100%;
  padding: 5% 20%;


}

.form-icon{
  color: #777777;
}
