<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/"></span>
    <span class="example-spacer"></span>

    <mat-icon
      *ngIf="cart$ | async as cart"
      [matBadge]="cart.Products.length"
      class="mr-5 cart-icon" matBadgeColor="warn" routerLink="/viewcart">shopping_cart
    </mat-icon>

    <mat-icon *ngIf="isAuthenticated" style="cursor: pointer" aria-hidden="false" aria-label="Example home icon" routerLink="/profile">
      account_circle
    </mat-icon>
    <li class="nav-link" aria-hidden="false" aria-label="Example home icon" routerLink="/">Home</li>
    <li class="nav-link" aria-hidden="false" aria-label="Example home icon"
        routerLink="/admindashboard">dashboard</li>
    <ng-template [ngIf]="isAuthenticated==false">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/register']" class="nav-link active">Register</li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/login']" class="nav-link">Login</li>
    </ng-template>
    <li (click)="logout()" class="nav-link">Log Out</li>


  </mat-toolbar-row>
</mat-toolbar>

