<div class="container p-3">
  <div  fxLayout="row" fxLayoutAlign="center start">

    <div fxFlex="50%" fxLayout="column"  >
      <form class="example-container" [formGroup]="productForm" (ngSubmit)="onSubmit()">

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" >
          <mat-form-field fxFlex="50%" >
            <label for="name">Product </label>
            <input matInput formControlName="name" id="name" required class="" />
            <mat-error *ngIf="!name.valid && name.touched" class="">Product name required</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="50%" >
            <label for="price">Product Price</label>
            <input matInput formControlName="price" id="price" class="" type="number"
               />
            <mat-error *ngIf="!price.valid && price.touched" class="">Product price required</mat-error>
          </mat-form-field>
        </div>
        <mat-form-field>
          <label for="description">Product description</label>
          <input matInput formControlName="description" id="description" class=""
             />
          <mat-error *ngIf="!description.valid && description.touched" class="">Product description required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <label for="stock">Product stock</label>
          <input matInput formControlName="stock" id="stock" type="number" class="" />
          <mat-error *ngIf="!stock.valid && stock.touched" class="">Product stock required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <label for="size">Product size</label>
          <input matInput formControlName="size" type="number" id="size" class=""/>
          <mat-error *ngIf="!size.valid && size.touched" class="">Product size required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <label for="color">Product color</label>
          <input matInput formControlName="color" type="text" id="color" class=""  />
          <mat-error *ngIf="!color.valid && color.touched" class="">Product color required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <label for="discount">Product discount</label>
          <input matInput formControlName="discount" type="number" id="discount" class=""  />
          <mat-error *ngIf="!discount.valid && discount.touched" class="">Product discount required</mat-error>
        </mat-form-field>
        <div>
          <label for="category">product Category</label>
          <select id="category" formControlName="categoryId" required class="form-control">
            <option *ngFor="let cat of categoryList$ | async " [value]="cat.categoryId">{{cat.categoryname}}</option>
            <mat-error *ngIf="!categoryId.valid && categoryId.touched" class="">This field is
              required</mat-error>
          </select>
        </div>
        <button color="primary" mat-raised-button [disabled]="productForm.invalid" class="mt-3">Create Product</button>
      </form>

    </div>

    <div fxFlex="50%">
      <app-upload></app-upload>
    </div>




  </div>
</div>