<div class="container">

  <div class="row mt-5">
    <div class="col">
      <h2 class="mat-header">Your Account</h2>
    </div>
  </div>

  <div *ngIf="loading$ | async as loading" class="row">
    <div *ngIf="loading" class="col align-center">
      <mat-spinner></mat-spinner>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-lg-4">
      <div class="d-flex alig-items-center p-3 mat-elevation-z1 ">
        <img class="account-icon" src="../../assets/images/profile/order.svg" alt="">
        <div class="ml-3" >
          <h6 class="mat-header">Your Orders</h6>
          <p class="mat-body mat-body-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non quos id neque quaerat cupiditate odio.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="d-flex alig-items-center p-3 mat-elevation-z1 ">
        <img class="account-icon" src="../../assets/images/profile/login.svg" alt="">
        <div class="ml-3" >
          <h6 class="mat-header">Login and Security</h6>
          <p class="mat-body mat-body-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non quos id neque quaerat cupiditate odio.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="d-flex alig-items-center p-3 mat-elevation-z1 ">
        <img class="account-icon" src="../../assets/images/profile/debit-card.svg" alt="">
        <div class="ml-3" >
          <h6 class="mat-header">Payment Methods</h6>
          <p class="mat-body mat-body-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non quos id neque quaerat cupiditate odio.</p>
        </div>
      </div>
    </div>

  </div>

</div>
