<mat-card class="product-card" [routerLink]="['/productdetails/',product.productId]">
    <mat-card-title class="u-title">{{product.name}}</mat-card-title>
    <mat-card-subtitle class="c-title">{{product.category.categoryname}}</mat-card-subtitle>

    <img [src]="product.imageurl" alt="" mat-card-sm-image>
    <mat-card-content>
       

        <div class="price-section">
            <h5 class="price-text">&#36;{{product.price}}</h5>
            <div class="alert alert-success">in stock</div>
        </div>

        <div class="rate-sec">
            <mat-icon class="rate">star</mat-icon>
            <mat-icon class="rate">star</mat-icon>
            <mat-icon class="rate">star_half</mat-icon>
            <mat-icon class="rate">star_half</mat-icon>
            <mat-icon class="rate">star_border</mat-icon>
        </div>

    </mat-card-content>

    <mat-card-actions>
        <button color="primary" mat-stroked-button>view more</button>
        <button color="primary" class="text-right" mat-icon-button>
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>