<mat-card class="product-card" [routerLink]="['/product/detail/',product.productId]">
    <img [src]="product.imageurl" alt="" mat-card-image>
    <mat-card-content>
        <div class="d-flex justify-content-between">
            <h6 class="title">{{product.name}}</h6>
            <p class="price-text">&#36;{{product.price}}</p>
        </div>
        <div class="rate-sec">
            <mat-icon class="rate">star</mat-icon>
            <mat-icon class="rate">star</mat-icon>
            <mat-icon class="rate">star_half</mat-icon>
            <mat-icon class="rate">star_half</mat-icon>
            <mat-icon class="rate">star_border</mat-icon>
        </div>
        
        <div class="row mx-2 d-flex justify-content-between">
            <button color="primary" mat-stroked-button>view more</button>
        <button color="primary" class="text-right" mat-icon-button>
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
        </div>
       

    </mat-card-content>

</mat-card>