<div class="container">
  <table class="table table-stripped">

     <tr>

       <th></th>
       <th>Product Name</th>
       <th>Product Price</th>
     </tr>

     <tbody>
       <tr *ngFor="let product of cartProductList ; index as i; ">
         <td>{{i + 1}}</td>
         <td>{{product.name}}</td>
         <td>{{product.price}} &#36;</td>
       </tr>
       <tr style="background-color:gainsboro;">
         <td>Total</td>
         <td></td>
         <td></td>
         <td style="font-weight: bold;" >{{totalPrice}}&#36;</td>
       </tr>
       <tr >
        <td></td>
        <td></td>
        <td></td>
        <td><button [routerLink]="[ '/payment' ]" class="btn btn-success">pay now</button></td>
      </tr>
     </tbody>


  </table>
  </div>
