<div class="container mt-5">

  <div class="row pb-2">
    <div class="col">
      <h3 class="semi-title">Products</h3>
    </div>
  </div>

    <div class="row">
      <div class="col-lg-12">
        <button routerLink="/add-product" mat-raised-button color="primary" >add product</button>
      </div>
    </div>

  <hr>



  <table *ngIf="productList$ | async as products  "
         [dataSource]="products" class="mat-elevation-z8" mat-table>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th *matHeaderCellDef mat-header-cell> No.</th>
      <td *matCellDef="let element" mat-cell> {{element.productId}} </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="avatar">
      <th *matHeaderCellDef mat-header-cell> Image</th>
      <td *matCellDef="let element" mat-cell>

        <img height="100px" width="100px" style="padding: 16px" [src]="element.imageurl" alt="">

      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let element" mat-cell> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <th *matHeaderCellDef mat-header-cell> Description</th>
      <td *matCellDef="let element" mat-cell> {{element.description.substr(0, 55)}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th *matHeaderCellDef mat-header-cell> Description</th>
      <td *matCellDef="let element" mat-cell> {{element.category.categoryname}} </td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell> Actions</th>
      <td *matCellDef="let element" mat-cell>
        <button color="primary" mat-raised-button routerLink="/updateproducts/{{element.productId}}">edit</button>
        <button (click)="deleteProduct(element.CategoryId)" class="ml-2" color="warn"
                mat-raised-button>delete
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

  </table>
  <mat-paginator [length]="100"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>



</div>
