<div class="container mt-5">


  <div class="row">
    <div class="col center">
      <div class="alert alert-success center " *ngIf="paid"><h1>Paid SuccessFully</h1></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h4>Cart</h4>
        <ul *ngIf="cart$ | async as cart " class="list-group">
          <li class="list-group-item" *ngFor="let pdt of cart.Products"  >{{pdt.name}}  <span class="badge badge-secondary" >{{pdt.price}}&#36;</span></li>

          <li class="list-group right"> <h6>Total</h6> <span class="alert alert-success py-2">{{cart.Total}} &#36;</span> </li>
    </ul>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col lg-4">
      <div #paypal></div>
    </div>
  </div>

</div>
