
<div class="container mt-5">
<div class="row">
  <div class="col-lg-8" >



      <div class="card " *ngIf="product$ | async as product " >
        <div class="detail">
          <div class="card-header border-0">
            <img src="{{product}}" width="200px" alt="">
          </div>
          <div class="card-block px-2 mx-2">
            <h4 class="card-title">{{product.name}}</h4>
            <p class="card-text">{{product.price}}&#36;</p>
            <p class="card-text">{{product.description}}</p>
          </div>

          <div class="card-block mt-5 px-2">
            <button class="btn btn-success">add to cart</button>
          </div>
        </div>
      </div>




          <!-- <div class="w-100"></div>
          <div class="card-footer w-100 text-muted">
              FOOTER
          </div> -->
      <!-- </div> -->








<!--
    <div class="card">
      <img class="card-img-left" src="{{product.imageurl}}" width="250px" height="auto" alt="">
      <div class="card-body">
        <h4 class="card-title">{{product.name}}</h4>
        <p class="card-text">{{product.price}}</p>
        <p class="card-text">{{product.description}}</p> -->


      <!-- <button (click)="AddtoCart(product)" class="btn btn-primary">AddtoCart</button>

      </div>
    </div> -->













    <div class="col-lg4">



    </div>
  </div>
</div>

</div>
