.example-container {
  /* position: absolute; */
  top: 0;
  /*margin-top: 50px;*/
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(246, 240, 252);
}

mat-drawer {
  width: 200px;
}



.side-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px;
  /* margin: 8px; */
}

.side-title{
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-transform:capitalize;
}

.side-item:hover{
  background-color: #8200e3;
  color: white;
}

.side-item-header{
  text-align: center;
}

.side-icon {
  color: #837f6f;
  font-size: 16px;

}
