<mat-sidenav-container class="example-container">
  <mat-sidenav class="sidenav" mode="side" opened class="mat-elevation-z8">

    <div class="side-item-header my-3">
      <h3 class="title">Dashboard</h3>
    </div>
    <mat-divider></mat-divider>


    <div class="side-item" *ngFor="let item of sideNavItemList" (click)="selectComponent(item.url)">
      <div class="side-title">
        <mat-icon class="side-icon">{{item.icon}}</mat-icon>
        <p class="mt-2">{{item.title}}</p>
      </div>
      <mat-icon class="side-icon">keyboard_arrow_right</mat-icon>
    </div>




  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <ng-container *ngIf="component === 0 ">
      <app-dash></app-dash>
    </ng-container>
    <ng-container *ngIf="component === 1 ">
      <!--      <app-user></app-user>-->
    </ng-container>

    <ng-container *ngIf="component === 2 ">
      <app-category></app-category>
    </ng-container>

    <ng-container *ngIf="component === 3 ">
      <app-product></app-product>
    </ng-container>

  </mat-sidenav-content>
</mat-sidenav-container>