/* You can add global styles to this file, and also import other style files */

/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.primary-text {
  color: indigo;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-link{
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


table {
  width: 100%;
}

.chart{
  background-color: white;
}
.list-item{
  cursor: pointer;
}

.list-item:hover{
  background-color: #2F96B4;
  color: white;
}

.active{
background-color: blue;
}

.color-bg-sec{
  display: flex;
}

.color-bg-sec .color-bg{
  padding: 16px;
  margin-left: 16px;
  color: red;

}

i{
  cursor: pointer;
}
.cart-icon{
  cursor: pointer;
}

.product-card {
  min-height: 350px;
  margin-bottom: 16px;
}

.price-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-text{
  color: indigo;
  font-weight: bolder;
}

.text-right{
  float: right;
}

.rate-sec {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: gold;
}


.u-title{
  text-transform: uppercase;
  font-size: 1rem;
}
.c-title{
  text-transform: capitalize;
}
