<div class="e-container">

  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-8">

      <mat-form-field class="example-full-width">
        <mat-icon matPrefix color="primary">search</mat-icon>
        <input type="text" #searchInput (keyup)="search(searchInput.value)" matInput placeholder="Search ....">
      </mat-form-field>
    </div>
  <

  <mat-divider></mat-divider>


  <div class="row mt-5">

    <div *ngIf="categoryList | async as categories" class="col-lg-3">
      <mat-list>
        <h3 mat-subheader>Categories</h3>
        <mat-list-item (click)="getAll()" >
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 class="cat-list" mat-line>All</h4>
        </mat-list-item>
        <mat-list-item (click)="filterByCategory(cat.CategoryId)" *ngFor="let cat of categories">
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 class="cat-list" mat-line>{{cat.categoryname}}</h4>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="col">
      <div class="row">

        <div *ngIf="loading$ | async as loading" class="col-lg-12 align-center">
          <mat-spinner *ngIf="loading" color="warn"></mat-spinner>
        </div>
      </div>

      <div *ngIf="productList$ | async as products" class="row">
        <div *ngFor="let product of products" class="col-lg-4">

          <mat-card class="product-card" [routerLink]="['/productdetails/',product.ProductId]" >
            <mat-card-header>
              <mat-card-title class="u-title">{{product.name}}</mat-card-title>
              <mat-card-subtitle class="c-title">{{product.Category.categoryname}}</mat-card-subtitle>
            </mat-card-header>

            <img [src]="product.imageurl" alt="" mat-card-image>
            <mat-card-content>
              <p>{{product.description}}</p>
            </mat-card-content>

            <mat-card-actions>
              <button color="primary" mat-button>view more</button>
            </mat-card-actions>
          </mat-card>

        </div>
      </div>
    </div>

  </div>
</div>


<!--<div class="container mt-3">-->
<!--  <div class="row">-->
<!--    <div class="col-lg-6"></div>-->
<!--    <div class="col-lg-6 "><input #sear1 (keyup)="search(sear1.value)" class="form-control" name="text" placeholder="search product"-->
<!--                                  type="text"></div>-->
<!--    <div class="clearfix"></div>-->
<!--  </div>-->

<!--  <div class="conatiner mt-5">-->


<!--    <div class="row">-->
<!--      <div class="col-sm-4  ">-->
<!--        <h6 class="cat ml-3">Category</h6>-->
<!--        <hr>-->
<!--        <ul class="list-group ml-3">-->
<!--          <div (click)="getAll()" class="list-group-item">-->
<!--            All-->
<!--          </div>-->
<!--          <div (click)="filterByCategory(cat.CategoryId)" *ngFor="let cat of categoryList | async"-->
<!--               class="list-group-item">{{cat.categoryname}}</div>-->
<!--        </ul>-->

<!--      </div>-->

<!--      <div class="col-lg-8">-->
<!--        <div class="row">-->

<!--          <div *ngIf="loading$ | async as loading" class="col-lg-12 align-center">-->
<!--            <mat-spinner *ngIf="loading" color="warn" ></mat-spinner>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="row" *ngIf="productList$ | async as products" >-->
<!--          <div *ngFor="let product of products" class="col-lg-6">-->

<!--            <mat-card class="product-card">-->
<!--              <mat-card-header>-->
<!--                <mat-card-title class="u-title" >{{product.name}}</mat-card-title>-->
<!--                <mat-card-subtitle class="c-title" >{{product.Category.categoryname}}</mat-card-subtitle>-->
<!--              </mat-card-header>-->

<!--              <img mat-card-image [src]="product.imageurl" alt="">-->
<!--              <mat-card-content>-->
<!--                <p>{{product.description}}</p>-->
<!--              </mat-card-content>-->

<!--              <mat-card-actions>-->
<!--                <button mat-button color="primary" >view more</button>-->
<!--              </mat-card-actions>-->
<!--            </mat-card>-->

<!--          </div>-->
<!--        </div>-->


<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
