.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.e-container{
  margin: 5%;
}

.cat-list{
  font-weight: bold;
  text-transform: capitalize;
}

.sort-sec{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.side-bar{
  max-height: 100%;
}