<div class="row py-2 mat-elevation-z8">
  <div class="col-lg-12">
    <div class="d-flex p-2 align-item-center justify-content-between">
      <div *ngIf="productList$ | async as paginatedResponseDto" >
        <p>1-16 over of {{paginatedResponseDto.totalItems}} result of <span class="text-accent"> "item" </span> </p>
      </div>
      <div>
          <input class="form-control"
           placeholder="search" #sinput (keyup)="search(sinput.value)" >
      </div>
      <div>
        <select class="form-control" #sort (change)="select(sort.value)" name="sortby" id="sort">
          <option value="">Sort By </option>
          <option value="name_asc">Name </option>
          <option value="price_asc">Price </option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 mat-elevation-z8 ">
    <mat-list>
      <h3 mat-subheader>Departments</h3>
      <mat-nav-list>
        <mat-list>
          <mat-list-item class="ml-3" >Mens T shirt</mat-list-item>
          <mat-list-item class="ml-3" >Womens T shirt</mat-list-item>
          <mat-list-item class="ml-3" >Mens polos</mat-list-item>
          <mat-list-item class="ml-3" >Boys t shirt</mat-list-item>
        </mat-list>
      </mat-nav-list>
    </mat-list>
    <mat-list>
      <h3 mat-subheader>Avg Customer Review</h3>
        <mat-list-item class="ml-2">
          <div class="rate-sec">
            <mat-icon class="rate">star</mat-icon>
            <mat-icon class="rate">star</mat-icon>
            <mat-icon class="rate">star</mat-icon>
            <mat-icon class="rate">star</mat-icon>
            <mat-icon class="rate">star</mat-icon>
          </div>
        </mat-list-item>
        <mat-list-item class="ml-2" >
          <div class="rate-sec">
            <mat-icon class="rate">star</mat-icon>
            <mat-icon class="rate">star</mat-icon>
            <mat-icon class="rate">star</mat-icon>
            <mat-icon class="rate">star_half</mat-icon>
            <mat-icon class="rate">star_half</mat-icon>
          </div>
        </mat-list-item>
        <mat-list-item class="ml-2" >
          <div class="rate-sec">
            <mat-icon class="rate">star</mat-icon>
            <mat-icon class="rate">star</mat-icon>
            <mat-icon class="rate">star_half</mat-icon>
            <mat-icon class="rate">star_half</mat-icon>
            <mat-icon class="rate">star_half</mat-icon>
          </div>
        </mat-list-item>
        <mat-list-item class="ml-2" >
          <div class="rate-sec">
            <mat-icon class="rate">star_half</mat-icon>
            <mat-icon class="rate">star_half</mat-icon>
            <mat-icon class="rate">star_half</mat-icon>
            <mat-icon class="rate">star_half</mat-icon>
            <mat-icon class="rate">star_half</mat-icon>
          </div>
        </mat-list-item>
    </mat-list>
    <mat-list>
      <h3 mat-subheader >Brands</h3>
      <mat-selection-list class="ml-2">
        <mat-list-option >Katso</mat-list-option>
        <mat-list-option >Nike</mat-list-option>
        <mat-list-option >Addidas</mat-list-option>
        <mat-list-option >Alsion</mat-list-option>
        <mat-list-option >Mansud</mat-list-option>
      </mat-selection-list>
    </mat-list>

    <mat-list>
      <h3 mat-subheader >Material</h3>
      <mat-selection-list class="ml-2">
        <mat-list-option >Cotton</mat-list-option>
        <mat-list-option >Jeans</mat-list-option>
      </mat-selection-list>
    </mat-list>
    <mat-list>
      <h3 mat-subheader >Payment</h3>
      <mat-selection-list class="ml-2">
        <mat-list-option >Pay on delivery</mat-list-option>
      </mat-selection-list>
    </mat-list>
    <mat-list>
      <h3 mat-subheader >Available Colors</h3>
      <mat-list-item>
        <div class="d-flex">
          <div class="ml-2 red"></div>
          <div class="ml-2 white"></div>
          <div class="ml-2 black"></div>
          <div class="ml-2 green"></div>
          <div class="ml-2 blue"></div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col-lg-10 p-2" *ngIf="productList$ | async as paginatedResponseDto">

    <div class="row">
      <div class="col-lg-3" *ngFor="let product of paginatedResponseDto.products" >
        <app-product-card [product]="product" ></app-product-card>
      </div>
    </div>
      <div class="row" *ngIf="loading$ | async as loader">
        <mat-spinner *ngIf="loader"
          [mode]="indeterminate">
        </mat-spinner>
      </div>
      
    
   
    <mat-paginator (page)="paginate($event)" *ngIf="productList$ | async as paginatedResponseDto"
    [length]="paginatedResponseDto.totalItems" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" h>
  </mat-paginator>
  </div>