.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.e-container{
  margin: 5%;
}

.cat-list{
  font-weight: bold;
  text-transform: capitalize;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.sort-sec{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
